<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
     <!-- 日志输出 文本格式 -->
   <target xsi:type="File" name="ownFile-web" archiveNumbering="DateAndSequence"
    archiveAboveSize="5000000" fileName="d:\shjh_logs\${shortdate}\${level}\${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${message}|${exception:format=tostring}${logger}" />
   <!-- 日志输出 JSON格式 -->
   <!-- <target name="ownFile-web" xsi:type="File" fileName="d:\shjh_logs\${shortdate}\${level}\${shortdate}.json" archiveNumbering="DateAndSequence"
    archiveAboveSize="5000000">
        <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="Comma-separated list (string)">
                <attribute name="time" layout="${longdate}" />
                <attribute name="eventId" layout="${event-properties:item=EventId_Id:whenEmpty=0}"/>
                 <attribute name="level" layout="${uppercase:${level}}"/>
                 <attribute name="host" layout="${aspnet-request-host}"/>
                 <attribute name="environment" layout="${aspnet-environment}"/>
                 <attribute name="url" layout="${aspnet-request-url:format=tostring}"/>
                 <attribute name="action" layout="//${aspnet-mvc-controller}//${aspnet-mvc-action}"/>
                 <attribute name="method" layout="${aspnet-request-method}"/>
                 <attribute name="querystring" layout="${aspnet-request-querystring}"/>
                 <attribute name="post" layout="${aspnet-request-posted-body:format=tostring}"/>
                 <attribute name="ip" layout="${aspnet-request-ip}"/>
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception:format=tostring}" />
         </layout>
  </target> -->
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>